.jumbotron {
    position: absolute;
    width: 100%;
    
}

.card-img {
    position: relative;
    left: 5%;
    width: 450px;
    height: 200px;

}

.card-img2 {
    position: relative;
    width: 450px;
    height: 200px;
 
}
.display-4 {
    position: relative;
    text-align: center;
    font-size: 75px;
    font-family: impact;
    
}
.lead {
    text-align: center;
    color: red;
    font-family: century-go
    
}

.my-4 {
    text-align: center;
}

.card-input {
    position: absolute;
    background-color: coral;
    color: black;
    width: 300px;
    left: 140px;
}

.card-input2 {
    position: absolute;
    background-color: coral;
    top: 200px;
    left: 140px;
}

.container3 {
    border-width: 5px;
    border-style: solid;
}
